@model Examlet.ViewModels.ModuleVM

<hr />
<div class="row">
    <form asp-action="Create" method="post">
        <input type="hidden" asp-for="Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" class="form-control" ></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
            

        <div id="card-container" style="display: flex; flex-direction: column; row-gap: 7px; margin: 7px 0">
             @for (int i = 0; i < Model.Cards.Count; i++){ 
                @* <partial name="/Views/Card/_Card.cshtml" for="Cards[i]" /> *@
                @Html.EditorFor(m => m.Cards[i])
             } 
            <input type="button" id="btnAddCard" value="Add Card" class="btn btn-secondary" style="align-self: center"/>
        </div>

        <input type="submit" value="Save" class="btn btn-primary"/>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
