<h1>Create Module</h1>

@{
    ViewData["Title"] = "Create";
    ViewData["ActionName"] = "Create";
}

<partial name="_Module.cshtml" view-data="ViewData" />


@section Scripts {
    <script src="~/js/custom/module.js"></script>
}