<h1>Edit Module</h1>

@{
    ViewData["Title"] = "Edit";
    ViewData["ActionName"] = "Edit";
}

<partial name="_Module.cshtml" view-data="ViewData"/>


@{
    var controllerName = this.ViewContext?.RouteData?.Values["controller"]?.ToString();

    var url = @Url.Action("GetCardPlainHtml", controllerName);
}


@section Scripts {
    <script src="~/js/custom/module.js" data-controller-name="@url"></script>
}
