@model Examlet.ViewModels.CardVM

<div style="display:flex; gap: 10px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);transition: 0.3s;border-radius: 5px; padding: 5px; background-color: #FFFFFF">
    @* <input type="hidden" asp-for="ModuleId" /> *@
    <input type="hidden" asp-for="Id" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div style="display: flex; gap: 10px; flex-grow: 1">
        <div style="flex-grow: 1">
            <label asp-for="Term" class="control-label"></label>
            <input asp-for="Term" class="form-control" style="min-width: 400px"/>
            <span asp-validation-for="Term" class="text-danger"></span>
        </div>
        <div style="flex-grow: 1">
            <label asp-for="Definition" class="control-label"></label>
            <textarea asp-for="Definition" class="form-control" style="min-width: 400px;" rows="5" ></textarea>
            <span asp-validation-for="Definition" class="text-danger"></span>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
